.cl {
    width: 13px;
    height: 13px;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border: 1px solid;

    text-align: center;
    display: inline-block;
    margin-left: 4px;
}

.cl div {
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    width: 100%;
    height: 100%;
}

.cl-rojo {
    border-color: red;
}

.cl-rojo div {
    background-color: red;
}

.cl-azul {
    border-color: #5858FA;
}

.cl-azul div {
    background-color: #5858FA;
}

.cl-azulo {
    border-color: #2b2bfb;
}

.cl-azulo div {
    background-color: #2b2bfb;
}

.cl-azulc {
    border-color: #8181f7;
}

.cl-azulc div {
    background-color: #8181f7;
}

.cl-negro {
    border-color: #000000;
}

.cl-negro div {
    background-color: #000000;
}

.cl-marron {
    border-color: #3b240b;
}

.cl-marron div {
    background-color: #3b240b;
}

.cl-verdec {
    border-color: #04b431;
}


.cl-turquesa {
    border-color: #3ff4ff;
}

.cl-turquesa div {
    background-color: #3ff4ff;
}

.cl-verdec div {
    background-color: #04b431;
}

.cl-verdeo {
    border-color: #0b610b;
}

.cl-verdeo div {
    background-color: #0b610b;
}

.cl-verde {
    border-color: #00ff00;
}

.cl-verde div {
    background-color: #00ff00;
}

.cl-gris {
    border-color: #848484;
}

.cl-gris div {
    background-color: #848484;
}

.cl-naranja {
    border-color: #ff8000;
}

.cl-naranja div {
    background-color: #ff8000;
}

.cl-violeta {
    border-color: #8904b1;
}

.cl-violeta div {
    background-color: #8904b1;
}

.cl-lila {
    border-color: #c104f2;
}

.cl-lila div {
    background-color: #c104f2;
}


.cl-blanco {
    border-color: #000000;
}

.cl-blanco div {
    background-color: #ffffff;
}

.cl-amarillo {
    border-color: #ffff00;
}

.cl-amarillo div {
    background-color: #ffff00;
}

.cl-rosado {
    border-color: #f78181;
}

.cl-rosado div {
    background-color: #f78181;
}


.cl-beige {
    border-color: #efc5b7;
}

.cl-beige div {
    background-color: #efc5b7;
}

.cl-amarilloverde {
    border-color: #ffff00;
}

.cl-amarilloverde div {
    background: linear-gradient(to right, #ffff00 0%, #ffff00 50%, #04b431 50%, #04b431 100%);
}

.cl-negroamarillo {
    border-color: #ffff00;
}

.cl-negroamarillo div {
    background: linear-gradient(to right, #000000 0%, #000000 50%, #ffff00 50%, #ffff00 100%);
}

.cl-negrorojo {
    border-color: #ff0000;
}

.cl-negrorojo div {
    background: linear-gradient(to right, #000000 0%, #000000 50%, #ff0000 50%, #ff0000 100%);
}

.cl-blancoray {
    border-color: #000000;
}

.cl-blancoray div {
    background: linear-gradient(to right, #ffffff 0%, #ffffff 50%, #000000 50%, #000000 100%);
}
