
.gris1 {
    background-color: #f7f7f7;
}

.bgris1 {
    border-bottom-color: #f7f7f7;
}

.gris2 {
    background-color: #e4e4e4;
}

.gris3 {
    background-color: #909090;
}

.titulo1 {
    font-family: 'Titillium Web', sans-serif;
    font-size: 40px;
}

.titulo-parrafo {
    font-family: 'Titillium Web', sans-serif;
    font-size: 14px;
}

.titulo-parrafo2 {
    font-family: 'Raleway', sans-serif;
    font-size: 12px;
}

.subtitulo1 {
    font-family: 'Titillium Web', sans-serif;
    font-size: 20px;
}

.subtitulo2 {
    font-family: 'Raleway', sans-serif;
    font-size: 20px;

}

.btn-azul-incable {
    border-radius: 20px;
    background-color: #005093;
    color: #fff;
    text-transform: uppercase;
    padding: 10px 30px;
    text-decoration: none;
    font-size: 13px;
    cursor: pointer;

    display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    line-height: 1.25;
    transition: all .15s ease-in-out

}

.btn-azul-incable:hover {
    border-radius: 20px;
    background-color: #038cff;
    color: #fff;
    text-decoration: none;
}

.btn-azul-incable:active,.btn-azul-incable:focus {
    border-radius: 20px;
    color: #fff;
    text-decoration: none;
}

.btn-blanco-incable {
    cursor: pointer;
    border-radius: 20px;
    background-color: #fff;
    border: 1px solid #005093;
    color: #005093;
    text-transform: uppercase;
    padding: 10px 20px;
    text-decoration: none;
    font-size: 13px;
}
.btn-blanco-incable2 {
    cursor: pointer;
    border-radius: 20px;
    background-color: #fff;
    border: 1px solid #005093;
    color: #005093;
    text-transform: uppercase;
    padding: 3px 10px;
    text-decoration: none;
    font-size: 10px;

}

.btn-blanco-incablec {
    cursor: pointer;
    border-radius: 4px;
    background-color: #fff;
    border: 1px solid #005093;
    color: #005093;
    text-transform: uppercase;
    padding: 10px 25px;
    text-decoration: none;
    font-size: 13px;
}

.btn.bo-azul-incable{
    font-weight: bold;
}
.btn.bo-azul-incable:hover{
    color: #fff;
    background-color: #038cff;
    border: 1px solid #038cff !important;
}

.btn-blanco-incablec:hover {
    background-color: #038cff;
    border: 1px solid #038cff;
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
}


.btn-blanco-incable2:hover {
    border-radius: 20px;
    background-color: #038cff;
    border: 1px solid #038cff;
    color: #fff;
    text-transform: uppercase;
    padding: 3px 10px;
    text-decoration: none;
    font-size: 10px;
}

.btn-blanco-incable:hover {
    border-radius: 20px;
    background-color: #038cff;
    border: 1px solid #038cff;
    color: #fff;
    text-transform: uppercase;
    padding: 10px 20px;
    text-decoration: none;
}

.btn.b-azul-incable {
    font-size: 14px;
}

.f-mayuscula {
    text-transform: uppercase;
}

.c-azul-incable {
    color: #005093;
}

.bo-azul-incable {
    border-color: #005093;
}

.b-azul-incable {
    background-color: #005093;
}

.cursor-pointer {
    cursor: pointer;
}

/* botones circulares*/
.btn-circle {
    width: 30px;
    height: 30px;
    text-align: center;
    padding: 6px 0;
    font-size: 12px;
    line-height: 1.428571429;
    border-radius: 15px;
    border: 1px solid #a4b2b6;
}

.btn-circle-social {
    width: 30px;
    height: 30px;
    text-align: center;
    padding-left: 4px;
    padding-right: 4px;
    padding-top: 6px;
    padding-bottom: 6px;
    font-size: 18px;
    line-height: 1;
    margin: 5px;
    border-radius: 50%;
    color: white;

}

.btn-circle-social:hover {
    color: white;
    text-decoration: none;
}

.btn-circle.btn-lg {
    width: 60px;
    height: 60px;
    padding: 10px 16px;
    font-size: 18px;
    line-height: 1.33;
    border-radius: 50%;
}

.btn-circle.btn-xl {
    width: 70px;
    height: 70px;
    padding: 10px 16px;
    font-size: 24px;
    line-height: 1.33;
    border-radius: 35px;
}

/* botones */
.btn-transparent {
    background-color: transparent;
}

/* btn-chat */
#btn-chat {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 999;
}

/* checkbox */

/* dividers */
.dh-10 {
    height: 10px;
}

.dh-20 {
    height: 20px;
}

.dh-30 {
    height: 30px;
}

.dh-40 {
    height: 40px;
}

.dh-50 {
    height: 50px;
}

.dh-60 {
    height: 60px;
}

.dh-70 {
    height: 70px;
}

.dh-80 {
    height: 80px;
}

.dh-90 {
    height: 90px;
}

.dh-100 {
    height: 100px;
}

/* colors */
.t-white {
    color: white;
}

.t-black {
    color: black;
}

.t-blue {
    color: blue;
}

.t-red {
    color: red;
}

.t-gray {
    color: #9f9f9f;
}

.t-gray2 {
    color: #616161;
}

.t-gray3 {
    color: #4a4a4a;
}

.bg-lgray {
    background-color: #eaeaea;
}

#list-clients {

    margin: 0;
    padding: 0;
    list-style: none;

}

#list-clients li {
    display: inline-block;
    width: 19%;
}

#a-links {
    margin: 0;
    padding: 0;
    padding-top: 20px;
}

#a-links li {
    list-style: none;
    margin-bottom: 5px;
}

#a-links li a {
    color: white;
    font-size: 12px;
}

#a-links li a:hover {
    color: #038cff;
    font-size: 12px;
    text-decoration: underline;
}

.no-border-radius {
    border-radius: 0;
}

.btn-post {
    width: 100%;
    display: inline-block;
    border: 1px solid rgba(228, 228, 228, 0.5);
    margin-bottom: 10px;
    color: white;
    padding-left: 10px;
    padding-right: 10px;
}

.btn-post:hover {
    color: white;
}

/* footer */

#main-footer {
    color: white;
}

#main-footer div.cont {
    /* border-right: 1px solid #63c4ff;*/
}

#main-footer div.cont:last-child {
    border-right: none;
}

#bottom-footer {

    color: white;
    text-align: center;
    padding: 20px;
}

#bottom-footer ul {
    margin: 0;
    padding: 0;
    margin-bottom: 2px;
}

#bottom-footer ul li {
    display: inline-block;
    list-style: none;
    font-weight: 900;
    font-size: 9px;
    position: relative;
}

#bottom-footer ul li:first-child {
    padding-left: 0;
}

#bottom-footer ul li:last-child {
    border-right: none;
}

/* fin footer */

/* main menu */
#main-nav {
    width: 100%;
    margin: 0;
    padding: 0;
    position: relative;

}

#main-nav li {
    list-style: none;
}

#main-nav #main-nav-ul {
    width: 100%;
}

#main-nav.fixed #main-nav-ul {
    width: 70%;
    margin-top: 5px;
}

#main-nav.fixed {
    margin: 0;
    padding: 0;
    position: fixed;
    z-index: 999;
    top: 0;
    background-color: white;
    width: 100%;
    -webkit-box-shadow: 0px 4px 5px 0px rgba(207, 207, 207, 1);
    -moz-box-shadow: 0px 4px 5px 0px rgba(207, 207, 207, 1);
    box-shadow: 0px 4px 5px 0px rgba(207, 207, 207, 1);
}

#main-nav.fixed #main-nav-logo {
    display: block;
    width: 10%;
}

#main-nav #main-nav-logo {
    display: none;
}

#main-nav.fixed #main-nav-buttons {
    display: block;
    width: 20%;

}

#main-nav #main-nav-buttons {
    display: none;
    text-align: right;
}

#main-nav #main-nav-buttons ul {
    margin: 0;
    padding: 0;
}

#main-nav #main-nav-buttons ul li {
    list-style: none;
    display: inline-block;
    margin-left: 10px;
}

#main-nav #main-nav-buttons .text {
    float: right;
    display: none;
}

#main-search {
    display: none;
    width: 100%;
}

#main-search.visible {
    display: none;
}

/* modal chat */
#modal-chat .modal-header {
    padding: 5px 10px;
    margin: 0;
    color: #fff;
}

#modal-chat .modal-dialog {
    bottom: 0;
    right: 40px;
    position: fixed;
}

.hidden-sm {
    display: block;
}

.cw-80 {
    width: 80% !important
}

#header-buttons {
    text-align: center;
    margin: 0;
    padding: 0;
    margin-top: 22px;
}

#header-buttons li {
    list-style: none;
    display: inline-block;
    margin-left: 10px;
}

#header-buttons li .text {
    text-align: left;
    display: none;
}

.ctop-140 {
    top: 50%;
    transform: translateY(-50%);
}

.mvisible-lg {
    display: none;
}

.visible-sm, .visible-md {
    display: none;
}

@media screen and (max-width: 767px) {



    .hidden-sm {
        display: none;
    }

    .visible-sm {
        display: block;
    }

    #main-nav.fixed #main-nav-ul {
        width: 100%;
    }

    #btn-chat {
        right: 10px;
        bottom: 10px;
    }

    .btn-circle.btn-lg {
        width: 50px;
        height: 50px;
        padding: 10px 16px;
        font-size: 18px;
        line-height: 1.33;
        border-radius: 50%;
    }

    #list-clients li img {
        width: 50px;
    }

    .hidden-sm {
        display: none;
    }

    .cw-80 {
        width: 100% !important
    }

    #main-nav.fixed {
        position: relative;
    }

    #main-nav.fixed #main-nav-logo {
        display: none;
    }

    #main-nav.fixed #main-nav-buttons {
        display: none;
    }

    #header-buttons {
        margin-top: -10px;
        margin-bottom: 10px;
    }

    #header-buttons li .text {
        display: block;
        float: right;
        padding-left: 5px;
        padding-top: 8px;
    }

    #h1-home {
        font-size: 15px;
    }

}

@media screen and (max-width: 1200px) {
    .visible-md {
        display: block;
    }

    .hidden-md {
        display: none;
    }
}

@media screen and (min-width: 1199px) {

    #main-nav.fixed #main-nav-ul {
        width: 80%;
    }

    #main-nav.fixed #main-nav-buttons {

        display: block;
        width: 8%;
    }

    #main-nav #main-nav-buttons .text {
        display: block;
    }

    #header-buttons li .text {
        display: block;
        float: right;
        padding-left: 5px;
        padding-top: 3px;
    }


    #header-buttons li{
        opacity: 0.8;
    }
    #header-buttons li:hover{
        opacity: 1;
    }

    .mvisible-lg {
        display: inline-block;
    }

    #div-contact {
        display: block;
        position: absolute;
        bottom: 81px;
    }

    .ribbon:after {
        content: "";
        border-top: 50px solid rgba(251, 251, 251, 0);
        border-bottom: 50px solid rgba(255, 0, 0, 0);
        border-left: 50px solid #d8e1ee;
        position: absolute;
        top: 50%;
        right: -50px;
        transform: translateY(-50%);

    }

}

#tabla-preguntas tr td {
    text-align: center;
}

#tabla-preguntas tr td:first-child {
    text-align: left;
    padding-left: 20px;
}

.border-1 {
    border: 1px solid #aeaeae;
}

.firm-info {

}

.firm-info ul {
    margin-left: -15px;
    margin-top: 10px;
    padding-left: 14px;
}

.firm-info ul li {
    list-style-type: none;
    margin-bottom: 5px;
    font-size: 13px;
    display: flex;
}

.firm-info ul li i {
    margin-right: 10px;
}

.firm-info ul li p {
    margin: 0;
}

.remove-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: #e5e5e5;
    border: none;
    z-index: 9;
}